<nav ng-if="searchHasResults()">
  <ul class="pager">
    <li class="previous" ng-class="{ 'disabled': previousPageDisabled }">
      <a href="" ng-click="previousPage()">&larr; Previous</a>
    </li>
    <li class="next" ng-class="{ 'disabled': nextPageDisabled }">
      <a href="" ng-click="nextPage()">Next &rarr;</a>
    </li>
  </ul>
</nav>
